.DS_Store
SocPowerBuddy.xcodeproj/project.xcworkspace/*
SocPowerBuddy.xcodeproj/xcuserdata/*
socpwrbud.xcodeproj/xcuserdata/zhr.xcuserdatad/xcschemes/xcschememanagement.plist
/socpwrbud.xcodeproj
/DerivedData
/socpwrbud.xcodeproj
socpwrbud.xcodeproj/project.pbxproj
